<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Default-Privacy-Setting</key>
		<string>Public</string>
	</dict>
	<key>CheckpointTrace.Thread</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Thread</string>
	</dict>
	<key>CheckpointTrace.Process</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
	</dict>
	<key>CheckpointTrace.System</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>System</string>
	</dict>
</dict>
</plist>
