<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSwitcher</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>StatusBarish</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>RemoteAlert</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DashBoard</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DashBoardScrollGestures</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DashBoardHostedAppViewController</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DashBoardCallToActionLabel</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>ScreenWake</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
</dict>
</plist>
