<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Debug</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>MNAudio</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNCommuteDestination</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationStateNoDestination</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationStatePrepareGuidance</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NavdMapsSuggestions</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNGuidanceManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNLocationManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNLocationProvider</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNLocationTracker</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNLocationTunnelProjector</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationService</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationSessionManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationXPC</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNPreloadSession</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNSettingsManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNTrace</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNTrafficIncidentAlertUpdater</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNTransitScheduleTracker</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MNNavigationStateManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
    <key>ProcessHandling</key>
    <dict>
        <key>Signpost-Scope</key>
        <string>Process</string>
        <key>Signpost-Persisted</key>
        <true/>
    </dict>
</dict>
</plist>
