<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graph</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>enrichment</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
</dict>
</plist>
