<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
		<key>Default-Privacy-Setting</key>
		<string>Public</string>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>0</integer>
			<key>Info</key>
			<integer>0</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>AutoLoopGenerationLatencyWithAllResources</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>AutoLoopGenerationLatencyWithoutAllResources</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>OneUpTransitionLatency</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Thread</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>OneUpDownloadLatency</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Thread</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerMomentSharePublishSelection</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerMomentSharePublishPreview</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerMomentSharePublishCreation</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerMomentSharePublishPublishing</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerTrashMomentShare</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerSavingMomentShare</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerMessageComposeViewController</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActionPerformerPresentation</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>AssetActions</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Thread</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>ActivityItemSource</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Thread</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>SuggestionDetailsPresentation</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>SharingController</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>System</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>PhotoEdit</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>PhotosSearch</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>UIActions</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
</dict>
</plist>
