<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>TTL</key>
		<dict>
			<key>Debug</key>
			<integer>1</integer>
			<key>Default</key>
			<integer>3</integer>
			<key>Info</key>
			<integer>3</integer>
		</dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Debug</string>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
		<key>Propagate-with-Activity</key>
		<true/>
	</dict>
</dict>
</plist>
