<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TileLoading</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
	</dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Debug</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>BackgroundState</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>CarCardLogging</key>
	<dict/>
	<key>CarDisplayLogging</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>ETAUpdates</key>
	<dict/>
	<key>Experiments</key>
	<dict/>
	<key>GEOAddressObject</key>
	<dict/>
	<key>TransitWidget</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MapsWidget</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>LightLevelLogging</key>
	<dict/>
	<key>ACCNavigation</key>
	<dict/>
	<key>IdleTimerController</key>
	<dict/>
	<key>BatteryMonitorController</key>
	<dict/>
	<key>MapsAnnouncements</key>
	<dict/>
	<key>NavigationChromeTransitions</key>
	<dict/>
	<key>RoutePreloader</key>
	<dict/>
	<key>VehicleSensor</key>
	<dict/>
	<key>GEONavdRemoteProxy</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>GEORouteHypothesisCache</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>GEORouteHypothesizer</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>GEOIdealTransportTypeFinder</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NAVDaemonLocalProxy</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NAVDaemonServer</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NavdLocationManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NavdRoutinePredictionsManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NavdTTLCache</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>ResourceManifest</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MapsSupport</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
			<key>Persist</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MapsSupportJournal</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
			<key>Persist</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MKCoreLocationProvider</key>
	<dict/>
	<key>MKLocationManager</key>
	<dict/>
	<key>MSPUpNext</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>NavdNotificationManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>MapsAppDelegate</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>AppStateManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>RouteStartNavigationTimerController</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>DirectionsManager</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>DirectionsController</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>TileLoader</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>TransitAppSelectionController</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>WaypointRequest</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>DirectionsRequestBuilding</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>RouteLoadingTask</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>RideBooking</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Persist</key>
			<string>Debug</string>
		</dict>
	</dict>
</dict>
</plist>
