<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Default-Privacy-Setting</key>
		<string>Public</string>
	</dict>
	<key>IDSService-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>FTMessageDelivery-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>Registration-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>GDR-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>MessageDelivery-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>Sysdiagnose-oversized</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
	</dict>
	<key>timing</key>
	<dict>
		<key>Enabled</key>
		<false/>
	</dict>
</dict>
</plist>
